<div class="example-container"><mat-drawer-container >
  <mat-drawer mode="side" opened></mat-drawer>
  <div class="navIcon"><img src="./assets/images/home.png" [routerLink]="['/home']"></div>
  <div class="navIcon"><img src="./assets/images/userdetails.png" [routerLink]="['/UserManagement']"></div>
  <div class="navIcon"><img src="./assets/images/verification.png" [routerLink]="['/scheduler']"></div>
  <!-- <div class="navIcon"><img src="./assets/images/email.png"></div>
  <div class="navIcon"><img src="./assets/images/number.png"></div>
  <div class="navIcon"><img src="./assets/images/value.png"></div>
  <div class="navIcon"><img src="./assets/images/label.png"></div>
  <div class="navIcon"><img src="./assets/images/Time.png"></div> -->
</mat-drawer-container>
  </div>
