.warnings{
    margin-top: 5px;
    color: #5A5A5A;
    font-size: 12px;
}

.credentials{
    margin-bottom:0px;
}

.labelName{
  
    margin-top:4px;
}
.alignment{
    margin-bottom: 0rem ! important;
}

.loginbtn,.reEnter{
    margin-top:-10px;
}