<div class="container"  >
    
    <div class="menu">
<!-- <MenuBar></MenuBar> -->
<LoginMenuBarComponent></LoginMenuBarComponent>
     </div> 

    <div class="row ">
        
        <div class="col-md-1"></div>
        <div class="col-md-10">   
            <div>
                    <img src="./assets/images/login.jpg"> 
            </div>
              
            <div class=" loginPage">
            
                
                    <div class="loginDetails">
                            <div class="login">
                                <div class="benchmark">_</div>  
                                
                                <div class="header">Welcome {{UserName}}  </div> 
                              
                             
                                <!-- s -->
                               
                                

                                <form [formGroup]="registerForm" class="text" (ngSubmit)="onSubmit()">  
                                <div class="form-group alignment">
                                    <label  class="labelName"><span class="icon-email"></span> NEW USERNAME</label>
                                    <input type="text" formControlName="Email" class="form-control inputbox" [ngClass]="{ 'is-invalid': submitted && f.Email.errors && f.Email.touched }"
                                        placeholder="Enter E-mail" />
                                    <div *ngIf="submitted && f.Email.errors && f.Email.touched" class="invalid-feedback">
                                        <div *ngIf="f.Email.errors.required">Username is required</div>
                                        <div *ngIf="f.Email.errors.email">Username must be a valid </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="labelName"><span class="icon-password"></span>NEW PASSWORD</label>
                                    <input type="password" formControlName="Password" class="form-control inputbox"
                                        [ngClass]="{ 'is-invalid': submitted && f.Password.errors && f.Password.touched }"
                                        placeholder="Enter password" />
                                    <div *ngIf="submitted && f.Password.errors && f.Password.touched" class="invalid-feedback">
                                        <div *ngIf="f.Password.errors.required">Password is required</div>
                                        <!-- <div *ngIf="f.Password.errors.minlength">Password must be at least 8
                                            characters
                                        </div> -->
                                        <!-- <div *ngIf="f.Password.errors.pattern">Use at least 8 characters with a mix of numbers,<br>
                                            uppercase, lowercase and special characters</div> -->
                                            <div *ngIf="f.Password.errors.maxlength">Password can be maximum of 12
                                                characters</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    
                                    <input type="password" formControlName="passwordConfirm" class="reEnter form-control inputbox reEnter" 
                                        [ngClass]="{ 'is-invalid': submitted && f.passwordConfirm.errors && f.passwordConfirm.touched} "
                                        placeholder="Re-enter password" />
                                        <div class="warnings"> Use at least 8 characters with a mix of numbers,<br>
                                            uppercase,lowercase and special characters</div>
                                    <div *ngIf="submitted && f.passwordConfirm.errors && f.passwordConfirm.touched"
                                        class="invalid-feedback">
                                        <div *ngIf="f.passwordConfirm.errors.minlength">Password must be at
                                            least 8
                                            characters</div>
                                        <div *ngIf="f.passwordConfirm.errors?.notEquivalent">Password not
                                            matching</div>
                                    </div>
                                </div>
                                <div class="form-group">

                                    <button class="loginbtn btn btn-primary" #btn_User_addupdate > Confirm</button>
                                   
                                </div>
                                </form>
                            
                        </div>  
                     </div>                  
                
        
                         
                    
             </div> 
         </div>
                               
                 
       
        
       
    </div>
</div>




